$primario:#343a40;
$secundario:red;
$fondo:#fff;
$texto:rgba(255,255,255,.5);
$texto-secundario:#fff;

$font:'Open Sans', sans-serif;
$font-light:300;
$font-regular:400;
$font-bold:700;
$font-extra-bold:800;